@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: row;
    font-family: 'Open Sans', sans-serif;
}
.left-menu{
    width: 20%;
    height: 100%;
    border-right: 1px black solid;
}
.left-menu .logo{
    height: 80px;
    width: 100%;
}
.left-menu .logo img{
    width: 100%;
    height: 100%;
}
.left-menu .menu{
    height: calc(100% - 130px);
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: #3a3a3a;
    padding: 20px 20px;
}
.left-menu .menu a{
    height: 50px;
    width: 100%;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    transition: all 0.3s ease-in-out;
}
.left-menu .menu .menu-item:hover{
    background: #686868;
    border-left: 3px #840500 solid;
}
.left-menu .footer{
    width: 100%;
    height: 50px;
    background: #A0522D;
    text-align: center;
    padding-top: 15px;
}
.left-menu .footer p{
    color: white;
    font-size: 12px;
}
.right-content{
    position: relative;
    width: 80%;
    height: 100%;
}
.right-content .title{
    position: relative;
    height: 80px;
    width: 100%;
    background: #A0522D;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.right-content .title button{
    position: absolute;
    left: 20px;
    width: 50px;
    height: 50px;
    font-size: 24px;
    background: transparent;
    border: 2px black solid;
    color: white;
    cursor: pointer;
}
.right-content .title p{
    font-size: 28px;
    color: white;
}
.right-content .search-bar{
    width: 100%;
    height: 50px;
    padding: 20px 0;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.right-content .search-bar input{
    width: 50%;
    height: 40px;
    padding: 10px 30px;
    border-radius: 20px 0 0 20px;
    border: 1px black solid;
    border-right: none;
}
.right-content .search-bar input:focus{
    outline: none;
}
.right-content .search-bar button{
    width: 5%;
    height: 40px;
    padding: 10px 30px;
    border-radius: 0 20px 20px 0;
    border: 1px black solid;
    border-left: none;
    background: transparent;
}
.right-content .main-menu{
    width: 100%;
    height: 50px;
    padding: 20px 50px;
    margin-bottom: 30px;
}
.right-content .main-menu select{
    float: left;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    padding: 0 10px;
}
.right-content .main-menu button{
    float: right;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background: deepskyblue;
    color: white;
    cursor: pointer;
}
.right-content .main-menu button:hover{
    background: blue;
}
.right-content .list-product{
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}
.right-content .list-product h3{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #495057;
}
.right-content .list-product table{
    width: 100%;
    border-collapse: collapse;
}
.right-content .list-product table th, .right-content .list-product table td{
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #f0f0f0;
}
.right-content .list-product table th{
    background-color: #f8f9fa;
    color: #6c757d;
    font-weight: 500;
    font-size: 14px;
}
.right-content .list-product table td{
    font-size: 15px;
}
.right-content .list-product button{
    font-weight: 500;
    margin-top: 20px;
    color: white;
    background: red;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}
.right-content .list-product button:hover{
    background: #700000;
}
.form-add{
    position: absolute;
    height: fit-content;
    width: 60%;
    background: white;
    top: 50%;
    left: 60%;
    padding: 20px 20px;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 0 8px 10px rgba(49, 49, 49, 0.5);
}
.form-add .form-title{
    position: relative;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}
.form-add .form-title button{
    position: absolute;
    right: 20px;
    height: 20px;
    width: 20px;
    color: red;
    background: transparent;
    border: none;
    cursor: pointer;
}
.form-add .main-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-add .main-form label{
    width: 150px;
    font-size: 17px;
}
.form-add .main-form div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    gap: 20px;
}
.form-add .main-form .img-p button{
    height: 30px;
    width: 70px;
}
.form-add .main-form div input{
    width: 60%;
    height: 30px;
    padding: 10px 10px;
}
.form-add .main-form div select{
    font-size: 12px;
    width: 60%;
    height: 30px;
    padding: 0 10px;
}
.form-add .main-form div textarea{
    width: 60%;
    height: 50px;
    padding: 5px 10px;
    font-family: 'Open Sans', sans-serif;
}
.form-add .main-form .submit{
    width: 50%;
    height: 30px;
    margin: auto;
    background: deepskyblue;
    color: white;
    cursor: pointer;
}
.form-add .main-form .submit:hover{
    background: #00ff00;
}
.slide-top{
    position: fixed;
    display: none;
    bottom: 20px;
    right: 20px;
    background: white;
    color: saddlebrown;
    opacity: 0.7;
    width: 50px;
    height: 50px;
    border: 3px solid black;
    cursor: pointer;
}
.slide-top:hover{
    background: saddlebrown;
    color: white;
}