/* Ẩn mũi tên trong input number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Container giỏ hàng */
.cart-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}

/* Tiêu đề giỏ hàng */
.cart-container h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}

/* Xoá tất cả sản phẩm */
.clear-all-container {
    text-align: right;
    margin-bottom: 10px;
}

/* Nút xoá tất cả sản phẩm */
.clear-all-cart {
    color: #a54040;
    font-weight: 600;
    text-decoration: none;
}

/* Hiệu ứng hover cho nút xoá tất cả sản phẩm */
.clear-all-cart:hover {
    text-decoration: underline;
}

/* Sản phẩm trong giỏ */
.cart-item {
    display: flex;
    align-items: center;
    border: 1px solid #999;
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 2px;
}

/* Nút xoá sản phẩm */
.product-remove {
    color: #a54040;
    font-size: 22px;
    cursor: pointer;
    margin-right: 10px;
}

/* Chi tiết sản phẩm */
.product-thumbnail img {
    width: 80px;
    height: 100px;
    object-fit: contain;
    margin-right: 20px;
}

/* Phần Chi tiết sản phẩm */
.product-details {
    flex: 1;
}

/* Tên sản phẩm */
.product-name {
    font-weight: 600;
    margin-bottom: 5px;
}

/* Loại sản phẩm */
.product-type {
    font-size: 15px;
    color: #333;
}

/* Giá và Tổng tiền sản phẩm */
.product-price,
.product-subtotal {
    color: #f47a00;
    font-weight: 700;
    font-size: 18px;
    width: 120px;
    text-align: right;
}

/* Số lượng sản phẩm */
.product-quantity {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0 15px;
}

/* Nút tăng giảm số lượng */
.product-quantity button {
    width: 32px;
    height: 32px;
    background: #eee;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 18px;
}
/* Hiệu ứng hover cho nút tăng giảm số lượng */
.product-quantity button:hover {
    background: #ddd;
}
/* Input số lượng sản phẩm */
.product-quantity input {
    width: 40px;
    height: 32px;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* Dòng chọn mã giảm giá */
.discount-link {
    display: block;
    font-weight: 700;
    color: #e96d00;
    text-decoration: none;
    margin-bottom: 10px;
}

/* Hiệu ứng hover cho dòng chọn mã giảm giá */
.discount-link:hover {
    text-decoration: underline;
}

/* Tổng tiền giỏ hàng */
.cart-totals{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
}
/* Tiêu đề tổng tiền giỏ hàng */
.cart-totals h3{
    font-size: 25px;
    color:  #641c16;
}

/* Số tổng tiền giỏ hàng */
.cart-totals span{
    font-size: 30px;
    font-weight: bold;
    color:  #641c16;
    margin: auto;
}

/* VAT */
.cart-totals p {
    font-size: 13px;
    font-weight: 400;
    color: #555;
    margin-left: 10px;

}

/* Nút Thanh toán */
.checkout-button {
    display: block;
    width: 100%;
    background-color: #641c16;
    color: #f47a00;
    border: none;
    padding: 18px 0;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 25px;
}

/* Hiệu ứng hover cho nút Thanh toán */
.checkout-button:hover {
    background-color: #4e1310;
    color: #fff3e0;
}

/* Phương thức thanh toán */
.payment-methods {
    text-align: center;
    font-weight: bold;
    margin-bottom: 60px;
}

/* Tiêu đề phương thức thanh toán */
.payment-methods h4 {
    font-size: 25px;
    margin-bottom: 10px;
}

/* Biểu tượng các thức thanh toán */
.payment-methods i {
    font-size: 25px;
    margin-right: 15px;
    padding-left: 15px;
}

/* Chữ các phương thức thanh toán */
.payment-methods span {
    margin-right: 20px;
    font-size: 25px;
    padding-right: 15px;
}

/* Checkbox chọn sản phẩm */
.product-select {
    margin-right: 15px;
    transform: scale(1.3);
    cursor: pointer;
}

/* Đảm bảo nút X không dính sát */
.product-remove {
    margin-right: 15px;
}
