.product-body{
    height: fit-content;
    width: 100%;
    margin-bottom: 50px;
}
.product-body .product-title{
    text-align: center;
    height: fit-content;
    width: 100%;
    font-size: 50px;
    font-weight: 600;
    padding-top: 25px;
    color: saddlebrown;
}
.product-body .product-title span{
    font-size: 30px;
    font-weight: 400;
    color: black;
    opacity: 0.7;
}
.product-body .product-content{
    height: 600px;
    width: 100%;
    display: flex;
    padding: 0 100px;
    flex-direction: row;
}
.product-body .product-content .product-img{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.product-body .product-content .product-img img{
    position: relative;
    width: 100%;
    height: 70%;
    border: 1px black solid;
    top: 100px;
}
.product-body .product-content .content{
    width: 50%;
    height: 100%;
    padding: 100px 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.product-body .product-content .content p{
    font-size: 40px;
    color: saddlebrown;
}
.product-body .product-content .content .sub-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 50px;
}
.product-body .product-content .content .sub-content p{
    font-size: 15px;
    color: black;
    opacity: 0.9;
}
.product-body .product-content .content .sub-content span{
    color: #840500;
    font-weight: 600;
}
.product-body .product-content .content form{
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 0;
    border-radius: 10px;
}
.product-body .product-content .content form label{
    font-size: 20px;
    font-weight: 600;
}
.product-body .product-content .content form select{
    width: 300px;
    height: 35px;
    font-size: 17px;
    transform: translateX(50px);
    border: 1px black solid;
    background: #fff;
}
.product-body .product-content .content form .type select{
    transform: translateX(115px);
}
.product-body .product-content .content .count-num{
    display: flex;
    flex-direction: row;
}
.product-body .product-content .content .count-num button{
    height: 30px;
    width: 40px;
    background: #999999;
}
.product-body .product-content .content .count-num button:hover{
    background: #555555;
}
.product-body .product-content .content form button{
    width: 300px;
    height: 50px;
    font-size: 20px;
    background: #840500;
    margin: auto;
    color: white;
    border: none;
    cursor: pointer;
}
.product-body .product-content .content form button:hover{
    background: #641c16;
}
.product-body .product-details{
    min-height: 500px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 100px;
}
.product-body .product-details .detail-des{
    display: flex;
    flex-direction: row;
    gap: 100px;
}
.product-body .product-details .detail-des .des-left{
    height: fit-content;
    width: 40%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 10px rgba(49, 49, 49, 0.5);
    border-radius: 20px;
    padding: 50px 30px;
    gap: 30px;
}
.product-body .product-details .detail-des .des-left p{
    font-size: 30px;
    font-weight: 500;
    color: #840500;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
}
.product-body .product-details .detail-des .des-left .sub-detail p{
    font-size: 18px;
    color: #555555;
    border: none;
    text-align: start;
}
.product-body .product-details .detail-des .des-right{
    height: fit-content;
    width: 60%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 10px rgba(49, 49, 49, 0.5);
    border-radius: 20px;
    padding: 50px 30px;
    gap: 30px;
}
.product-body .product-details .detail-des .des-right p{
    font-size: 30px;
    font-weight: 500;
    color: #840500;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
}
.product-body .product-details .detail-des .des-right .list-call p{
    font-size: 18px;
    color: #555555;
    border: none;
    text-align: start;
}
.product-body .product-details .detail-main{
    height: fit-content;
    width: 100%;
    padding: 50px 0;
}
.product-body .product-details .detail-main p{
    font-size: 30px;
    font-weight: 500;
    color: #840500;
    padding: 5px 0;
}
.product-body .product-details .detail-main .detail-content p{
    font-size: 18px;
    color: #555555;
    text-align: start;
}
.product-body .product-comment{
    min-height: 330px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 100px;
}
.product-body .product-comment p{
    font-size: 30px;
    font-weight: 500;
    color: #840500;
}
.product-body .product-comment .another-comment{
    width: 100%;
    height: fit-content;
}
.product-body .product-comment .another-comment p{
    font-size: 18px;
    color: #555555;
    text-align: center;
    border: 2px darkgray solid;
    padding: 50px 0;
}
.product-body .product-comment form{
    width: 50%;
    height: 50px;
    display: flex;
    flex-direction: row;
}
.product-body .product-comment form input{
    width: 85%;
    padding-left: 20px;
    font-size: 18px;
}
.product-body .product-comment form button{
    width: 15%;
    font-size: 18px;
    cursor: pointer;
    background: #840500;
    color: white;
}
.product-body .product-comment form button:hover{
    background: #641c16;
}
.product-body .product-relative{
    min-height: 300px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 100px;
}
.product-body .product-relative p{
    font-size: 30px;
    font-weight: 500;
    color: #840500;
}
.product-body .product-relative .product-catalog{
    width: 100%;
    height: 90%;
    display: flex;
    gap: 20px;
    border-radius: 20px;
    background: white;
    overflow: hidden;
}
.product-body .product-relative .product-catalog .product{
    min-width: 250px;
    height: fit-content;
    background: transparent;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    opacity: 0.7;
    margin: 30px;
    text-decoration: none;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out;
}
.product-body .product-relative .product-catalog .product:hover{
    opacity: 1;
    transform: scale(1.1);
}
.product-body .product-relative .product-catalog .product img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 1px solid black;
}
.product-body .product-relative .product-catalog .product p{
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.product-body .product-relative .product-catalog .product span{
    font-size: 16px;
    color: green;
    margin-top: 15px;
}


