@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}
header{
    height: 100px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a03636;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.search-bar{
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#search-input{
    padding: 8px;
    padding-left: 40px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
    width: 500px;
    height: 50px;
    font-size: 18px;
    border-radius: 20px 0 0 20px;
}
#search-button{
    width: 100px;
    height: 50px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 20px 20px 0;
    background-color: #d65200;
    cursor: pointer;
}
.lo-re{
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 30px;
}
.lo-re .cart{
    font-size: 20px;
}
.lo-re .cart #num-cart-label{
    background-color: red;
    color: white;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    position: absolute;
    top: -10px;
    left: 115px;
}
.lo-re .mini-menu{
    display: flex;
    align-items: center;
    font-size: 18px;
}
.lo-re a{
    text-decoration: none;
    color: white;
    margin: 0 5px;
    font-weight: bold;
}
.lo-re span{
    color: white;
}
.lo-re a:hover{
    text-decoration: underline;
    color: #d65200;
}
.main-menu{
    height: 50px;
    background-color: rgb(253, 236, 204);
}
.main-menu ul{
    list-style: none;
    height: 100%;
}
.main-menu ul li{
    float: left;
    height: 100%;
    margin: 0 30px;
}
.main-menu ul li a{
    height: 100%;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
    line-height: 50px;
}
.main-menu ul li:hover .item{
    color: #d65200;
}
.main-menu .menu-item{
    position: absolute;
    list-style: none;
    display: none;
    flex-direction: column;
    top: 150px;
    margin-left: -40px;
}
.main-menu ul li:hover > .menu-item{
    display: flex;
    z-index: 2;
}
.main-menu .menu-item li{
    width: 210px;
    height: fit-content ;
    background-color: rgb(253, 236, 204);
    color: black;
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
}
.main-menu .menu-item li:hover{
    background-color: #f0d9b3;
}
.main-menu .menu-item li a{
    font-size: 16px;
    line-height: normal;
}
footer{
    height: fit-content;
    background-color: #a03636;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer .footer-top{
    padding: 20px 100px;
    width: 100%;
    overflow: hidden;
}
footer .footer-top .left{
    float: left;
    width: fit-content;
    max-width: 50%;
}
footer .footer-top .right{
    float: right;
    width: fit-content;
    max-width: 50%;
}
footer .footer-top .right .social{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
    gap: 40px;
}
footer .footer-top .right a{
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}
footer .footer-bottom{
    background: #a03636;
    padding: 10px 0;
    text-align: center;
    font-size: 15px;
    width: 100%;
    color: rgb(255, 255, 255);
}
.slide-top{
    position: fixed;
    display: none;
    bottom: 20px;
    right: 20px;
    background: white;
    color: saddlebrown;
    opacity: 0.7;
    width: 50px;
    height: 50px;
    border: 3px solid black;
    cursor: pointer;
}
.slide-top:hover{
    background: saddlebrown;
    color: white;
}