<form class="search-bar">
    <input type="text" placeholder="Tìm kiếm sản phẩm" required>
    <button><i class="fas fa-search"></i></button>
</form>
<div class="main-menu">
    <select>
        <option>-Chọn dòng sản phẩm-</option>
        <option>Cà phê hữu cơ</option>
        <option>Cà phê rang nguyên hạt</option>
        <option>Cà phê hòa tan</option>
        <option>Các sản phẩm đặc biệt khác</option>
    </select>
    <button id="add">+ Thêm sản phẩm</button>
</div>
<div class="list-product">
    <h3>DANH SÁCH SẢN PHẨM</h3>
    <table>
        <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>Tên sản phẩm</th>
            <th>Loại sản phẩm</th>
            <th>Giá (VND)</th>
            <th>Số lượng còn</th>
            <th>Số lượng bán</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input type="checkbox"></td>
            <td>P001</td>
            <td>Cafe Aroma 1</td>
            <td>Cà phê hữu cơ</td>
            <td>100.000</td>
            <td>250</td>
            <td>0</td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td>P002</td>
            <td>Cafe Aroma 2</td>
            <td>Cà phê rang nguyên hạt</td>
            <td>150.000</td>
            <td>250</td>
            <td>0</td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td>P003</td>
            <td>Cafe Aroma 3</td>
            <td>Cà phê hòa tan</td>
            <td>200.000</td>
            <td>250</td>
            <td>0</td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td>P004</td>
            <td>Ly uống cafe</td>
            <td>Các sản phẩm đặc biệt</td>
            <td>130.000</td>
            <td>250</td>
            <td>0</td>
        </tr>
        </tbody>
    </table>
    <button>Xóa sản phẩm</button>
</div>