<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Catalog</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
  <link rel="stylesheet" href="../webapp/css/catalog.css">
  <link rel="stylesheet" href="../webapp/css/style.css">
</head>
<body>
<header>
  <div class="top">
    <div class="logo">
      <span><i class="fa-solid fa-mug-saucer"></i></span>
      <span>A</span>
      <span>R</span>
      <span>O</span>
      <span>M</span>
      <span>A</span>
    </div>
    <div class="search-bar">
      <input type="text" id="search-input" placeholder="Tìm kiếm...">
      <button id="search-button"><i class="fas fa-search"></i></button>
    </div>
    <div class="mini-menu">
      <div class="cart">
        <a href="cart.html"><i class="fas fa-shopping-cart"></i></a>
        <span id="num-cart-label">0</span>
      </div>
      <a class="user"><i class="fa-solid fa-user"></i></a>
    </div>
  </div>
  <div class="bottom">
    <a href="#">Trang chủ</a>
    <a href="#">Sản phẩm</a>
    <a href="#">Liên hệ</a>
    <a href="#">Giới thiệu</a>
  </div>
</header>
  <div class="catalog">
    <div class="catalog-list" id="catalog-list">
      <p class="head-catalog">Danh mục sản phẩm</p>
      <ul class="list-catalog" id="list-catalog">
        <li><a href="#" class="catalog-item active" data-category="all">Sản phẩm hot</a></li>
        <li><a href="#" class="catalog-item" data-category="organic-coffee">Cà phê hữu cơ</a></li>
        <li><a href="#" class="catalog-item" data-category="roasted-coffee">Cà phê nguyên hạt rang</a></li>
        <li><a href="#" class="catalog-item" data-category="instant-coffee">Cà phê hòa tan</a></li>
        <li><a href="#" class="catalog-item" data-category="special-products">Các sản phẩm đặc biệt</a></li>
      </ul>
      <hr>
      <div class="filter">
        <select>
          <option>-Chọn lựa-</option>
          <option>Giá cao đến thấp</option>
          <option>Giá thấp đến cao</option>
          <option>Lượt mua nhiều nhất</option>
        </select>
      </div>
    </div>
    <div class="product-area" id="product-area">
      <div class="product-list" id="product-list"></div>
      <div class="product-page" id="product-page"></div>
    </div>
  </div>
<footer class="footer">
  <div class="footer-top">
    <div class="foot-content left">
      <h3>Aroma Café</h3>
      <p>Địa chỉ: xxx, xxx, xxx.</p>
      <p>Điện thoại: xxx-xxx-xxxx.</p>
      <p>Email: example@gmail.com</p>
    </div>

    <div class="foot-content footer-links">
      <h3>Quy định & Chính sách</h3>
      <ul>
        <li><a href="shippingPolicies.html">Chính sách vận chuyển</a></li>
        <li><a href="warrantyPolicies.html">Chính sách bảo hành, đổi trả</a></li>
        <li><a href="termOfUse.html">Điều khoản sử dụng</a></li>
      </ul>
    </div>

    <div class="foot-content right">
      <h3>Kết nối với chúng tôi</h3>
      <div class="social">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 Aroma Café. All rights reserved.</p>
  </div>
</footer>
  <button class="slide-top" id="slide-top"><i class="fas fa-angle-up"></i> </button>

 <script src="../webapp/js/catalog.js"></script>
 <script src="../webapp/js/script.js"></script>
</body>
</html>