<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Phin pha cafe</p>
    <span>Giá: 100.000đ</span>
    <label>Loại: Sản phẩm đặc biệt</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Bộ ly Aroma</p>
    <span>Giá: 190.000đ</span>
    <label>Loại: Sản phẩm đặc biệt</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Ly giữ nhiệt</p>
    <span>Giá: 100.000đ</span>
    <label>Loại: Sản phẩm đặc biệt</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Phin pha cafe Aroma</p>
    <span>Giá: 100.000đ</span>
    <label>Loại: Sản phẩm đặc biệt</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Ly sứ cao cấp Aroma</p>
    <span>Giá: 190.000đ</span>
    <label>Loại: Sản phẩm đặc biệt</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Ly giữ nhiệt Aroma</p>
    <span>Giá: 200.000đ</span>
    <label>Loại: Sản phẩm đặc biệt</label>
</a>