<a href="product.html" class="product">
  <img src="../webapp/img/Cafe1.png" alt="ảnh">
  <p>Cafe Aroma 1</p>
  <span>Giá: 100.000đ</span>
  <label>Loại: Cà phê hữu cơ</label>
</a>
<a href="product.html" class="product">
  <img src="../webapp/img/Cafe1.png" alt="ảnh">
  <p>Cafe Aroma 2</p>
  <span>Giá: 110.000đ</span>
  <label>Loại: Cà phê hữu cơ</label>
</a>
<a href="product.html" class="product">
  <img src="../webapp/img/Cafe1.png" alt="ảnh">
  <p>Cafe Aroma 3</p>
  <span>Giá: 120.000đ</span>
  <label>Loại: Cà phê rang nguyên hạt</label>
</a>
<a href="product.html" class="product">
  <img src="../webapp/img/Cafe1.png" alt="ảnh">
  <p>Cafe Aroma 4</p>
  <span>Giá: 140.000đ</span>
  <label>Loại: Cà phê xay nguyên chất</label>
</a>
<a href="product.html" class="product">
  <img src="../webapp/img/Cafe1.png" alt="ảnh">
  <p>Phin pha cafe</p>
  <span>Giá: 100.000đ</span>
  <label>Loại: Sản phẩm đặc biệt</label>
</a>
<a href="product.html" class="product">
  <img src="../webapp/img/Cafe1.png" alt="ảnh">
  <p>Cafe Aroma 6</p>
  <span>Giá: 105.000đ</span>
  <label>Loại: Cà phê hữu cơ</label>
</a>
<a href="product.html" class="product">
  <img src="../webapp/img/Cafe1.png" alt="ảnh">
  <p>Cafe Aroma 7</p>
  <span>Giá: 100.000đ</span>
  <label>Loại: Cà phê xay nguyên chất</label>
</a>
<a href="product.html" class="product">
  <img src="../webapp/img/Cafe1.png" alt="ảnh">
  <p>Cafe Aroma 8</p>
  <span>Giá: 109.000đ</span>
  <label>Loại: Cà phê rang nguyên hạt</label>
</a>
<a href="product.html" class="product">
  <img src="../webapp/img/Cafe1.png" alt="ảnh">
  <p>Cafe Aroma 9</p>
  <span>Giá: 133.000đ</span>
  <label>Loại: Cà phê xay nguyên chất</label>
</a>
<a href="product.html" class="product">
  <img src="../webapp/img/Cafe1.png" alt="ảnh">
  <p>Cafe Aroma 10</p>
  <span>Giá: 100.000đ</span>
  <label>Loại: Cà phê rang nguyên hạt</label>
</a>
<a href="product.html" class="product">
  <img src="../webapp/img/Cafe1.png" alt="ảnh">
  <p>Cafe Aroma 11</p>
  <span>Giá: 90.000đ</span>
  <label>Loại: Cà phê hữu cơ</label>
</a>
<a href="product.html" class="product">
  <img src="../webapp/img/Cafe1.png" alt="ảnh">
  <p>Bộ ly Aroma</p>
  <span>Giá: 190.000đ</span>
  <label>Loại: Sản phẩm đặc biệt</label>
</a>
<a href="product.html" class="product">
  <img src="../webapp/img/Cafe1.png" alt="ảnh">
  <p>Cafe Aroma 12</p>
  <span>Giá: 100.000đ</span>
  <label>Loại: Cà phê xay nguyên chất</label>
</a>
<a href="product.html" class="product">
  <img src="../webapp/img/Cafe1.png" alt="ảnh">
  <p>Cafe Aroma 13</p>
  <span>Giá: 100.000đ</span>
  <label>Loại: Cà phê hữu cơ</label>
</a>
<a href="product.html" class="product">
  <img src="../webapp/img/Cafe1.png" alt="ảnh">
  <p>Ly giữ nhiệt</p>
  <span>Giá: 100.000đ</span>
  <label>Loại: Sản phẩm đặc biệt</label>
</a>
<a href="product.html" class="product">
  <img src="../webapp/img/Cafe1.png" alt="ảnh">
  <p>Cafe Aroma 14</p>
  <span>Giá: 120.000đ</span>
  <label>Loại: Cà phê hữu cơ</label>
</a>
<a href="product.html" class="product">
  <img src="../webapp/img/Cafe1.png" alt="ảnh">
  <p>Cafe Aroma 15</p>
  <span>Giá: 100.000đ</span>
  <label>Loại: Cà phê xay nguyên chất</label>
</a>
<a href="product.html" class="product">
  <img src="../webapp/img/Cafe1.png" alt="ảnh">
  <p>Cafe Aroma 16</p>
  <span>Giá: 120.000đ</span>
  <label>Loại: Cà phê rang nguyên hạt</label>
</a>
<a href="product.html" class="product">
  <img src="../webapp/img/Cafe1.png" alt="ảnh">
  <p>Cafe Aroma 17</p>
  <span>Giá: 100.000đ</span>
  <label>Loại: Cà phê hữu cơ</label>
</a>
<a href="product.html" class="product">
  <img src="../webapp/img/Cafe1.png" alt="ảnh">
  <p>Cafe Aroma 18</p>
  <span>Giá: 100.000đ</span>
  <label>Loại: Cà phê xay nguyên chất</label>
</a>
<a href="product.html" class="product">
  <img src="../webapp/img/Cafe1.png" alt="ảnh">
  <p>Cafe Aroma 19</p>
  <span>Giá: 100.000đ</span>
  <label>Loại: Cà phê rang nguyên hạt</label>
</a>
<a href="product.html" class="product">
  <img src="../webapp/img/Cafe1.png" alt="ảnh">
  <p>Cafe Aroma 20</p>
  <span>Giá: 100.000đ</span>
  <label>Loại: Cà phê hữu cơ</label>
</a>
<a href="product.html" class="product">
  <img src="../webapp/img/Cafe1.png" alt="ảnh">
  <p>Cafe Aroma 21</p>
  <span>Giá: 100.000đ</span>
  <label>Loại: Cà phê rang nguyên hạt</label>
</a>
<a href="product.html" class="product">
  <img src="../webapp/img/Cafe1.png" alt="ảnh">
  <p>Cafe Aroma 22</p>
  <span>Giá: 100.000đ</span>
  <label>Loại: Cà phê rang nguyên hạt</label>
</a>
<a href="product.html" class="product">
  <img src="../webapp/img/Cafe1.png" alt="ảnh">
  <p>Cafe Aroma 23</p>
  <span>Giá: 100.000đ</span>
  <label>Loại: Cà phê xay nguyên chất</label>
</a>

<!-- Trang 2 -->
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 24</p>
    <span>Giá: 100.000đ</span>
    <label>Loại: Cà phê hữu cơ</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 25</p>
    <span>Giá: 110.000đ</span>
    <label>Loại: Cà phê hữu cơ</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 26</p>
    <span>Giá: 120.000đ</span>
    <label>Loại: Cà phê rang nguyên hạt</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 27</p>
    <span>Giá: 140.000đ</span>
    <label>Loại: Cà phê xay nguyên chất</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Phin pha cafe Aroma</p>
    <span>Giá: 100.000đ</span>
    <label>Loại: Sản phẩm đặc biệt</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 28</p>
    <span>Giá: 105.000đ</span>
    <label>Loại: Cà phê hữu cơ</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 29</p>
    <span>Giá: 100.000đ</span>
    <label>Loại: Cà phê xay nguyên chất</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 30</p>
    <span>Giá: 109.000đ</span>
    <label>Loại: Cà phê rang nguyên hạt</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 31</p>
    <span>Giá: 133.000đ</span>
    <label>Loại: Cà phê xay nguyên chất</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 32</p>
    <span>Giá: 100.000đ</span>
    <label>Loại: Cà phê rang nguyên hạt</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 33</p>
    <span>Giá: 90.000đ</span>
    <label>Loại: Cà phê hữu cơ</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Ly sứ cao cấp Aroma</p>
    <span>Giá: 190.000đ</span>
    <label>Loại: Sản phẩm đặc biệt</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 34</p>
    <span>Giá: 100.000đ</span>
    <label>Loại: Cà phê xay nguyên chất</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 35</p>
    <span>Giá: 100.000đ</span>
    <label>Loại: Cà phê hữu cơ</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Ly giữ nhiệt Aroma</p>
    <span>Giá: 200.000đ</span>
    <label>Loại: Sản phẩm đặc biệt</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 36</p>
    <span>Giá: 120.000đ</span>
    <label>Loại: Cà phê hữu cơ</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 37</p>
    <span>Giá: 100.000đ</span>
    <label>Loại: Cà phê xay nguyên chất</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 38</p>
    <span>Giá: 120.000đ</span>
    <label>Loại: Cà phê rang nguyên hạt</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 39</p>
    <span>Giá: 100.000đ</span>
    <label>Loại: Cà phê hữu cơ</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 40</p>
    <span>Giá: 100.000đ</span>
    <label>Loại: Cà phê xay nguyên chất</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 41</p>
    <span>Giá: 100.000đ</span>
    <label>Loại: Cà phê rang nguyên hạt</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 42</p>
    <span>Giá: 100.000đ</span>
    <label>Loại: Cà phê hữu cơ</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 43</p>
    <span>Giá: 100.000đ</span>
    <label>Loại: Cà phê rang nguyên hạt</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 44</p>
    <span>Giá: 100.000đ</span>
    <label>Loại: Cà phê rang nguyên hạt</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 45</p>
    <span>Giá: 100.000đ</span>
    <label>Loại: Cà phê xay nguyên chất</label>
</a>