<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 3</p>
    <span>Giá: 120.00đ</span>
    <label>Loại: Cà phê rang nguyên hạt</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 8</p>
    <span>Giá: 109.00đ</span>
    <label>Loại: Cà phê rang nguyên hạt</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 10</p>
    <span>Giá: 100.00đ</span>
    <label>Loại: Cà phê rang nguyên hạt</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 16</p>
    <span>Giá: 120.00đ</span>
    <label>Loại: Cà phê rang nguyên hạt</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 19</p>
    <span>Giá: 100.00đ</span>
    <label>Loại: Cà phê rang nguyên hạt</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 21</p>
    <span>Giá: 100.00đ</span>
    <label>Loại: Cà phê rang nguyên hạt</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 22</p>
    <span>Giá: 100.00đ</span>
    <label>Loại: Cà phê rang nguyên hạt</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 26</p>
    <span>Giá: 120.00đ</span>
    <label>Loại: Cà phê rang nguyên hạt</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 30</p>
    <span>Giá: 109.00đ</span>
    <label>Loại: Cà phê rang nguyên hạt</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 32</p>
    <span>Giá: 100.00đ</span>
    <label>Loại: Cà phê rang nguyên hạt</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 38</p>
    <span>Giá: 120.00đ</span>
    <label>Loại: Cà phê rang nguyên hạt</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 41</p>
    <span>Giá: 100.00đ</span>
    <label>Loại: Cà phê rang nguyên hạt</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 43</p>
    <span>Giá: 100.00đ</span>
    <label>Loại: Cà phê rang nguyên hạt</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 44</p>
    <span>Giá: 100.00đ</span>
    <label>Loại: Cà phê rang nguyên hạt</label>
</a>