<a href="product.html" class="product">
  <img src="../webapp/img/Cafe1.png" alt="ảnh">
  <p>Cafe Aroma 1</p>
  <span>Giá: 100.00đ</span>
  <label>Loại: Cà phê hữu cơ</label>
</a>
<a href="product.html" class="product">
  <img src="../webapp/img/Cafe1.png" alt="ảnh">
  <p>Cafe Aroma 2</p>
  <span>Giá: 110.00đ</span>
  <label>Loại: Cà phê hữu cơ</label>
</a>
<a href="product.html" class="product">
  <img src="../webapp/img/Cafe1.png" alt="ảnh">
  <p>Cafe Aroma 6</p>
  <span>Giá: 105.00đ</span>
  <label>Loại: Cà phê hữu cơ</label>
</a>
<a href="product.html" class="product">
  <img src="../webapp/img/Cafe1.png" alt="ảnh">
  <p>Cafe Aroma 11</p>
  <span>Giá: 90.00đ</span>
  <label>Loại: Cà phê hữu cơ</label>
</a>
<a href="product.html" class="product">
  <img src="../webapp/img/Cafe1.png" alt="ảnh">
  <p>Cafe Aroma 13</p>
  <span>Giá: 100.00đ</span>
  <label>Loại: Cà phê hữu cơ</label>
</a>
<a href="product.html" class="product">
  <img src="../webapp/img/Cafe1.png" alt="ảnh">
  <p>Cafe Aroma 14</p>
  <span>Giá: 120.00đ</span>
  <label>Loại: Cà phê hữu cơ</label>
</a>
<a href="product.html" class="product">
  <img src="../webapp/img/Cafe1.png" alt="ảnh">
  <p>Cafe Aroma 17</p>
  <span>Giá: 100.00đ</span>
  <label>Loại: Cà phê hữu cơ</label>
</a>
<a href="product.html" class="product">
  <img src="../webapp/img/Cafe1.png" alt="ảnh">
  <p>Cafe Aroma 20</p>
  <span>Giá: 100.00đ</span>
  <label>Loại: Cà phê hữu cơ</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 24</p>
    <span>Giá: 100.00đ</span>
    <label>Loại: Cà phê hữu cơ</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 25</p>
    <span>Giá: 110.00đ</span>
    <label>Loại: Cà phê hữu cơ</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 28</p>
    <span>Giá: 105.00đ</span>
    <label>Loại: Cà phê hữu cơ</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 33</p>
    <span>Giá: 90.00đ</span>
    <label>Loại: Cà phê hữu cơ</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 35</p>
    <span>Giá: 100.00đ</span>
    <label>Loại: Cà phê hữu cơ</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 36</p>
    <span>Giá: 120.00đ</span>
    <label>Loại: Cà phê hữu cơ</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 39</p>
    <span>Giá: 100.00đ</span>
    <label>Loại: Cà phê hữu cơ</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 42</p>
    <span>Giá: 100.00đ</span>
    <label>Loại: Cà phê hữu cơ</label>
</a>