<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 4</p>
    <span>Giá: 140.00đ</span>
    <label>Loại: Cà phê hòa tan</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 7</p>
    <span>Giá: 100.00đ</span>
    <label>Loại: Cà phê hòa tan</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 9</p>
    <span>Giá: 133.00đ</span>
    <label>Loại: Cà phê hòa tan</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 12</p>
    <span>Giá: 100.00đ</span>
    <label>Loại: Cà phê hòa tan</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 15</p>
    <span>Giá: 100.00đ</span>
    <label>Loại: Cà phê hòa tan</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 18</p>
    <span>Giá: 100.00đ</span>
    <label>Loại: Cà phê hòa tan</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 23</p>
    <span>Giá: 100.00đ</span>
    <label>Loại: Cà phê hòa tan</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 27</p>
    <span>Giá: 140.00đ</span>
    <label>Loại: Cà phê hòa tan</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 29</p>
    <span>Giá: 100.00đ</span>
    <label>Loại: Cà phê hòa tan</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 31</p>
    <span>Giá: 133.00đ</span>
    <label>Loại: Cà phê hòa tan</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 34</p>
    <span>Giá: 100.00đ</span>
    <label>Loại: Cà phê hòa tan</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 37</p>
    <span>Giá: 100.00đ</span>
    <label>Loại: Cà phê hòa tan</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 40</p>
    <span>Giá: 100.00đ</span>
    <label>Loại: Cà phê hòa tan</label>
</a>
<a href="product.html" class="product">
    <img src="../webapp/img/Cafe1.png" alt="ảnh">
    <p>Cafe Aroma 45</p>
    <span>Giá: 100.00đ</span>
    <label>Loại: Cà phê hòa tan</label>
</a>