<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h2>Thông tin cá nhân</h2>
<form>
    <label>Tên người dùng:</label>
    <input type="text" value="Nguyễn Văn A" readonly><br>
    <label>Email:</label>
    <input type="email" value="nguyenvana@example.com" readonly><br>
    <label>Điện thoại:</label>
    <input type="text" value="090xxxx999" readonly><br>
    <label>Địa chỉ:</label>
    <input type="text" value="XXX,YYY,ZZZ" readonly><br>
</form>
</body>
</html>