<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h2>Thông tin cá nhân</h2>
<form>
    <label>Tên người dùng:</label>
    <input type="text" value="Nguyễn Văn A" ><br>
    <label>Email:</label>
    <input type="email" value="nguyenvana@example.com" ><br>
    <label>Điện thoại:</label>
    <input type="text" value="090xxxx999" ><br>
    <label>Tỉnh/TP:</label>
    <input type="text" placeholder="Tỉnh/TP" ><br>
    <label>Quận/Huyện,Xã/Phường</label>
    <input type="text" placeholder="Quận/Huyện, Xã/Phường" ><br>
    <label>Đường, Số nhà</label>
    <input type="text" placeholder="Đường, Số nhà"><br>
    <button type="button">Cập nhật</button>
</form>
</body>
</html>