<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
    <link rel="stylesheet" href="../webapp/css/style.css">
    <link rel="stylesheet" href="../webapp/css/register.css">

</head>
<body>
<header>
    <div class="search-bar">
        <input type="text" id="search-input" placeholder="Tìm kiếm...">
        <button id="search-button"><i class="fas fa-search"></i></button>
    </div>
    <div class="lo-re">
        <div class="cart">
            <a href="cart.html"><i class="fas fa-shopping-cart"></i> Giỏ hàng</a>
            <span id="num-cart-label">0</span>
        </div>
        <div class="mini-menu">
            <a href="login.html">Login</a>
            <span>/</span>
            <a href="register.html">Register</a>
        </div>
    </div>
</header>
<nav class="main-menu">
    <ul>
        <li><a href="index.html" class="item">Trang chủ</a></li>
        <li><a href="#" class="item">Sản phẩm</a>
            <ul class="menu-item">
                <li><a href="catalog.html?category=organic-coffee">Cà phê hữu cơ</a></li>
                <li><a href="catalog.html?category=roasted-coffee">Cà phê nguyên hạt rang</a></li>
                <li><a href="catalog.html?category=instant-coffee">Cà phê hòa tan</a></li>
                <li><a href="catalog.html?category=special-products">Các sản phẩm đặc biệt</a></li>
            </ul>
        </li>
        <li><a href="#" class="item">Giới thiệu</a></li>
        <li><a href="#" class="item">Liên hệ</a></li>
    </ul>
</nav>
    <div class = "container">
        <h2 id = "register">Đăng ký</h2>
        <form id="register-form" action="/submit" method="post">
            <label class="lbn" for="yourname">Họ và Tên</label>
            <input type="text" id="yourname" name="yourname" placeholder="Họ và tên của bạn" required><br><br>
            <label class="lbe" for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Email của bạn" required><br><br>
            <label class="lbn" for="phone">Số điện thoại:</label>
            <input type="text" id="phone" name="phone" placeholder="Số điện thoại" required><br><br>
            <label class="lbpw" for="password">Mật khẩu:</label>
            <input type="password" id="password" name="password" placeholder="Mật khẩu" required><br><br>
            <label class="lbcpw" for="confirmpassword">Xác nhận mật khẩu:</label>
            <input type="password" id="confirmpassword" name="confirmpassword" placeholder="Xác nhận mật khẩu" required><br><br>
            <div class="bt_regis" >
                <button type="button" id="clear-btn" onclick="location.href='login.html'">Quay lại</button>
                <button type="submit" id="register-btn">Đăng ký  </button>
            </div>
        </form>
    </div>
    
    <footer class="footer">
        <div class="footer-top">
            <div class="foot-content left">
                <h3>Aroma Café</h3>
                <p>Địa chỉ: xxx, xxx, xxx.</p>
                <p>Điện thoại: xxx-xxx-xxxx.</p>
                <p>Email: example@gmail.com.</p>
            </div>
            <div class="foot-content right">
                <h3>Kết nối với chúng tôi</h3>
                <div class="social">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Aroma Café. All rights reserved.</p>
        </div>
    </footer>
<button class="slide-top" id="slide-top"><i class="fas fa-angle-up"></i></button>

    <script src="../webapp/js/register.js"></script>
    <script src="../webapp/js/script.js"></script>
</body>
</html>